.website_name {
  display: inline;
  width: 100px;
}
.search {
  display: inline;
  width: auto;
  margin-left: 150px;
}
.search__field {
  width: 400px;
}
.username {
  display: inline;
  margin-left: 50px;
}
.logout {
  margin-left: 30px;
}
