.questions-container {
  position: relative;
  margin-left: 18%;
  height: fit-content;
  width: 850px;
  /* border:1px solid rgb(212, 19, 19); */
}

.topline {
  height: 1px;
  margin: 5px 10px;
  background-color: rgb(205, 201, 201);
}
.line {
  height: 1px;
  margin: 0px 10px;
  background-color: rgb(205, 201, 201);
  clear: both;
}
/* .answerBlock{
    border: 1px solid blue;

} */
.edit {
  margin-top: 5px;
  margin-left: 660px;
}
.description {
  margin-top: -55px;
  margin-left: 90px;
  /* border: 1px solid blue; */
  border-left: 5px solid rgb(154, 153, 153);
  padding-left: 10px;
}
.ud {
  float: right;
  font-size: smaller;
}
.username {
  display: inline;
  color: hsl(206, 100%, 40%);
}
.date {
  display: inline;
  color: gray;
}
.voteBlock {
  position: relative;
  top: 20px;
  left: 5px;
  width: 70px;
  height: 70px;
}
.arrowUp {
  height: 20px;
  width: 32px;
  display: inline-block;
  position: absolute;
  margin: auto 17px;
  cursor: pointer;
}
.arrowDown {
  height: 20px;
  width: 32px;
  display: inline-block;
  position: absolute;
  top: 40px;
  margin: auto 17px;
  cursor: pointer;
}
.svg-icon {
  cursor: pointer;
}

.iconArrowUpLg {
  display: inline-block;
  position: absolute;
  top: -8px;
  margin: auto 15px;
}
.iconArrowDownLg {
  display: inline-block;
  position: absolute;
  top: 34px;
  margin: auto 15px;
}
.votes {
  display: inline-block;
  position: absolute;
  color: rgb(97, 100, 97);
  border-radius: 5px;
  padding: 2px 20px;
}
.answers {
  display: block;
  position: relative;
}
.write {
  display: inline-block;
  position: absolute;
  right: 0px;
}
.cancel {
  display: none;
  position: absolute;
  /* border-radius: 2rem;
    background-image:linear-gradient(90deg, rgb(255, 0, 0) 0%,rgb(248, 155, 17) 100%);  */
  right: 0px;
}
.writeAnswer {
  display: none;
  margin: auto;
  width: 800px;
  /* height: 400px; */
  border: 1px solid rgb(236, 236, 236);
  background-color: white;
  box-shadow: 5px 10px #888888;
}
.qBody {
  margin-left: 20px;
}
/* .qTitle {
  width: 750px;
} */
.title {
  margin-bottom: 2px;
  margin-left: 20px;
}
.bodyInput {
  height: 180px;
  width: 400px;
  margin-top: -10px;
  margin-left: 20px;
}
.bodyOutput {
  margin: 10px 20px;
}
.submit {
  margin-top: 10px;
  margin-left: 180px;
  text-align: center;
  width: 80px;
  font-weight: bold;
  /* border-radius: 2rem;
    border: 2px solid rgb(11, 8, 229);
    background-image:linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);  */
}

.help-block {
  color: red;
  margin-left: 20px;
}
.styleButtons {
  /* display: inline; */
  margin-left: 20px;
}
.descP {
  padding: 5px;
  border-radius: 3px;
  margin: 10px auto;
  background-color: rgb(239, 238, 244);
  /* color: red; */
}
.bold {
  display: inline;
  font-weight: bold;
}
/* .bold:empty:not(:focus)::before {
  content: attr(data-placeholder);
} */
h5:empty:not(:focus)::before {
  content: attr(data-placeholder);
}
/* modal */
.hidden {
  display: none;
}
.close-modal {
  z-index: 10;
  float: right;
  width: 30px;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 70%; */
  height: fit-content;
  width: fit-content;
  background-color: white;
  /* padding: 6rem; */
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* try 50% */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
