<!-- <p>question-detail works!</p> -->
<!-- <button (click)="gotoLogin()">open</button>
<h2>{{authRequired}}</h2> -->

<!-- overlay  -->
<div [ngClass]="{
    'hidden': !authRequired,
    'overlay': authRequired
}" (click)="closeModal()"></div>

<!-- modal -->
<div [ngClass]="{
    'hidden': !authRequired,
    'modal': authRequired
}">
    <button class="close-modal" (click)="closeModal()">X</button>
    <app-auth [flag]="parentFlag"></app-auth>
</div>

<div class="questions-container" *ngIf="question != undefined">
    <h1>{{question.questionTitle}}</h1>
    <!-- <div class="topline"></div> -->
    <div class="voteBlock">
        <svg aria-hidden="true" (click)="gotoLogin()" class="svg-icon iconArrowUpLg" width="36" height="36"
            viewBox="0 0 36 36">
            <path d="M2 25h32L18 9 2 25Z"></path>
        </svg>
        <h3 class="votes">50</h3>
        <svg aria-hidden="true" (click)="gotoLogin()" class="svg-icon iconArrowDownLg" width="36" height="36"
            viewBox="0 0 36 36">
            <path d="M2 11h32L18 27 2 11Z"></path>
        </svg>
    </div>
    <p class="description" [innerHtml]="addStyle(question.questionDesc)"></p>
    <br>
    <div class="ud">
        <p class="username">{{question.username}}</p>
        <p class="date" *ngIf="question.timestamp != null"> asked {{question.timestamp.slice(0,10)}}
        </p>

    </div>
    <br>
    <div class="line"></div>
    <!-- <h2>user status {{userStatus}}</h2> -->
    <h2 class="answers">{{question.answers.length}} Answers
        <button class="btn write" (click)="writeAnswer()" data-type="primary">Write Answer</button>
        <button class="btn cancel" (click)="cancelWrite()" data-type="danger">Cancel</button>
    </h2>

    <div class="writeAnswer">
        <!-- <h3>{{postId}}</h3> -->
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">

            <h3 class="title">New Answer</h3>
            <div class="styleButtons">
                <button type='button' (click)="addBold()">Bold</button>
                <button type='button' (click)="addCode()">Code</button>
            </div>
            <br>
            <textarea type="text" class="bodyInput" [(ngModel)]="answerBody" name="answerBody" required
                #nameCtrl="ngModel"></textarea>
            <br>
            <span class="help-block" *ngIf="nameCtrl.invalid && nameCtrl.touched">
                Please enter Answer Body!</span>
            <div class="bodyOutput" *ngIf="answerBody" [innerHtml]="addStyle(answerBody)"></div>
            <div><button class="btn submit" type="submit" [disabled]="form.invalid" data-type="success">Submit
                </button></div>
        </form>

    </div>
    <div class="spinner" *ngIf="loading$ | async">
        <svg class="spinnerSvg">
            <use href="../../assets/icons.svg#icon-loader"></use>
        </svg>
    </div>
    <div class="answerBlock" *ngFor="let ans of question.answers">

        <div class="voteBlock">
            <svg aria-hidden="true" (click)="gotoLogin()" class="svg-icon iconArrowUpLg" width="36" height="36"
                viewBox="0 0 36 36">
                <path d="M2 25h32L18 9 2 25Z"></path>
            </svg>
            <h3 class="votes">{{ans.votesUp}}</h3>
            <svg aria-hidden="true" (click)="gotoLogin()" class="svg-icon iconArrowDownLg" width="36" height="36"
                viewBox="0 0 36 36">
                <path d="M2 11h32L18 27 2 11Z"></path>
            </svg>
        </div>
        <p class="description" [innerHtml]="addStyle(ans.answer)"></p>
        <br>

        <div class="ud">
            <p class="username">{{ans.username}}</p>
            <p class="date" *ngIf="ans.timestamp != null"> answered {{ans.timestamp.slice(0,10)}}
            </p>
        </div>
        <br>
        <div class="line"></div>
    </div>
</div>