/* body{
    background-color: hsl(210,8%,75%);
} */
.ask-box{
    height: 580px;
     /* width:100%; */
     background-color: rgb(232, 234, 234);
}
.head{
    margin-left:240px;
    width:fit-content;
}
.container{
    margin:auto;
    width:800px;
    height:400px;
    border:1px solid rgb(236, 236, 236);
    background-color: white;
    box-shadow: 5px 10px #888888;
    /* box-shadow:0 1px 3px hsla(0,0%,0%,0.06), 0 2px 6px hsla(0, 0%, 0%, 0.06), 0 3px 8px hsla(0, 0%, 0%, 0.09); */
}
.title{
    margin-left: 30px;
}