<p>answer-detail works!</p>
<!-- <div class="voteBlock">
    <svg aria-hidden="true" (click)="vote(1,'answer',answer.id)" class="svg-icon iconArrowUpLg" width="36" height="36"
        viewBox="0 0 36 36">
        <path d="M2 25h32L18 9 2 25Z"></path>
    </svg>
    <h3 class="votes">{{answer.votes}}</h3>
    <svg aria-hidden="true" (click)="vote(-1,'answer',answer.id)" class="svg-icon iconArrowDownLg" width="36"
        height="36" viewBox="0 0 36 36">
        <path d="M2 11h32L18 27 2 11Z"></path>
    </svg>
    <svg *ngIf="voteFlag != 1" (click)="vote(1,'answer',answer.id)" class="svg-icon iconArrowUpLg" width="36"
        height="36" viewBox="0 0 36 36">
        <path d="M2 25h32L18 9 2 25Z"></path>
    </svg>
    <img class="arrowUp " *ngIf="voteFlag == 1" (click)="vote(1,'answer',answer.id)"
        src="../../assets/images/upvoteOrange.png" alt="">
    <h3 class="votes">{{answer.votes}}</h3>
    <img class="arrowDown " *ngIf="voteFlag == -1" (click)="vote(-1,'answer',answer.id)"
        src="../../assets/images/downvoteOrange.jpg" alt="">
    <svg *ngIf="voteFlag != -1" (click)="vote(-1,'answer',answer.id)" class="svg-icon iconArrowDownLg" width="36"
        height="36" viewBox="0 0 36 36">
        <path d="M2 11h32L18 27 2 11Z"></path>
    </svg>
</div>
<p class="description" [innerHtml]="addStyle(answer.answer)"></p>
<br>

<div class="ud">
    <p class="username">{{ans.username}}</p>
    <p class="date" *ngIf="ans.timestamp != null"> answered {{ans.timestamp.slice(0,16)}}
    </p>
</div>
<br>
<div class="line"></div> -->