<app-header></app-header>
<h2>Session expires in {{expiresIn}}</h2>
<!-- <button class="btn" data-type="success">Button</button>
<button class="btn" data-type="warning">Button</button>
<button class="btn" data-type="danger">Button</button>
<button class="btn" data-type="primary">Button</button> -->

<div class="questions-container">
    <h1 *ngIf="searchResult != undefined">{{searchResult.questionTitle}}</h1>
    <div class="questions"><strong>All Questions ({{ length }})</strong></div>

    <ng-container *ngIf="user == null">
        <button routerLink="/auth" class="btn ask" data-type="primary">Ask Question</button>
    </ng-container>
    <ng-container *ngIf="user != null">
        <button routerLink="/ask" class="btn ask" data-type="primary">Ask Question</button>
    </ng-container>
    <div class="topline"></div>
    <div *ngIf="length == 0 || length == undefined">Question Not Found 🙁</div>
    <div class="spinner" *ngIf="loading$ | async">
        <svg class="spinnerSvg">
            <use href="../../assets/icons.svg#icon-loader"></use>
        </svg>
    </div>
    <div class="question-box" *ngFor="let question_element of questions">

        <div class="va">
            <p class="views">{{question_element.views}} views</p>
            <p class="answers">{{question_element.numberOfAnswers}} answers</p>
        </div>
        <div class="qd">
            <a class="question_ele" routerLink="/detail"
                (click)="openQuestion(question_element.id)">{{question_element.questionTitle}}</a>

            <p class="descriptionAtHome">{{question_element.questionDesc.slice(0,180)}}</p>
        </div>

        <br>
        <div class="ud">
            <p class="questionUsername">{{question_element.users}}</p>
            <p class="date" *ngIf="question_element.timestamp != null"> asked
                {{question_element.timestamp.slice(0,16)}}
            </p>
        </div>

        <div class="line"></div>
    </div>

</div>

<div class="area">
    <ul class="circles">
        <img class="blueQ" src="../../assets/images/blueQ.png" alt="">
        <img class="blueQ" src="../../assets/images/redQ.png" alt="">
        <img class="blueQ" src="../../assets/images/orangeQ.png" alt="">
        <img class="blueQ" src="../../assets/images/yellowQ.png" alt="">
        <img class="blueQ" src="../../assets/images/blueQ.png" alt="">
        <img class="blueQ" src="../../assets/images/redQ.png" alt="">
        <img class="blueQ" src="../../assets/images/orangeQ.png" alt="">
        <img class="blueQ" src="../../assets/images/yellowQ.png" alt="">
        <img class="blueQ" src="../../assets/images/blueQ.png" alt="">
        <img class="blueQ" src="../../assets/images/redQ.png" alt="">
        <img class="blueQ" src="../../assets/images/orangeQ.png" alt="">
        <img class="blueQ" src="../../assets/images/yellowQ.png" alt="">
        <!-- <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li> -->
    </ul>
</div>