.website_name{
    display:inline;
    width: 100px;
}
.search{
    display:inline;
    width:auto;
    margin-left:150px;
}
.search__field{
    width: 300px;
}
.questions-container{
    position:relative;
    margin-left: 200px;
    height: 500px;
    width: 700px;
    border:1px solid rgb(255, 255, 255);
}
.questions{
    display:inline;
    position:absolute;
    top:10px;
    left: 20px;
    font-size: larger;
}
.ask{
    display:inline;
    position:absolute;
    top:10px;
    right:0px;
    /* background-color: rgb(54, 54, 228); */
}
.topline{
    margin-top: 50px;
    height: 1px;
    background-color: rgb(141, 137, 137);
}

.question-box{
    margin-top: 10px;
    /* height: fit-content; */
    background-image: linear-gradient(rgba(245, 245, 245, 0),whitesmoke);
}
.views{
    display: inline;
    position: relative;
    /* left:30px ; */
    /* margin-left: 30px; */
    color: hsl(358,64%,35%);
}
.va{
    display: inline;
    position:relative;
    margin-left: 30px;
    height: 100px;
    width:50px;
}
.answers{
    display: inline;
    position: relative;
    top:20px;
    left: -65px;
    /* margin-left: 30px; */
    color: rgb(235, 237, 235);
    background-color: hsl(140,41%,31%);
    border-radius: 5px;
    padding: 2px;
}
.question_ele{
    display: inline;
    /* margin-left: 10px; */
    font-size: large;
    /* font-weight: 100; */
    color: hsl(209,100%,37.5%);
    text-decoration: none;
}
.description{
    display: inline;
    margin-left: 150px;
    font-size: small;
    color:hsl(210,8%,25%);
    /* font-weight: 100; */
}
.username{
    display: inline;
    color: hsl(206,100%,40%);
}
.date{
    display: inline;
    color: gray;
}
.ud{
    margin-top: 5px 0px;
    /* padding: 5px 0px; */
    /* border:1px solid red; */
    float: right;
    /* width: 200px; */
    font-size: smaller;
    /* padding-right: 0; */
}
.line{
    height: 1.5px;
    background-color: rgb(141, 137, 137);
    clear: both;
}