<!-- <p>home works!</p> -->
<div>
    <h2 class="website_name">StackOverflow</h2>
    <form class="search">
        <input type="text" class="search__field" [(ngModel)]="searchFor" name="searchFor" placeholder="Search..." />
        <button class="btn search__btn" (click)="search()">
            Search
        </button>
    </form>
</div>

<!-- <button class="btn" data-type="success">Button</button>
<button class="btn" data-type="warning">Button</button>
<button class="btn" data-type="danger">Button</button>
<button class="btn" data-type="primary">Button</button> -->

<div class="questions-container">
    <h1 *ngIf="searchResult != undefined">{{searchResult.questionTitle}}</h1>
    <div class="questions"><strong>All Questions ({{ length }})</strong></div>

    <button routerLink="/ask" class="btn ask" data-type="primary">Ask Question</button>
    <div class="topline"></div>
    <div *ngIf="length == 0">Question Not Found 🙁</div>
    <div class="spinner" *ngIf="loading$ | async">
        <svg class="spinnerSvg">
            <use href="../../assets/icons.svg#icon-loader"></use>
        </svg>
    </div>
    <div class="question-box" *ngFor="let question_element of questions">

        <div class="va">
            <p class="views">{{question_element.views}} views</p>
            <p class="answers">{{question_element.answers.length}} answers</p>
        </div>
        <div class="qd">
            <a class="question_ele" routerLink="/detail"
                (click)="openQuestion(question_element.id)">{{question_element.questionTitle}}</a>

            <p class="description">{{question_element.questionDesc.slice(0,180)}}</p>
        </div>

        <br>
        <div class="ud">
            <p class="username">{{question_element.username}}</p>
            <p class="date" *ngIf="question_element.timestamp != null"> asked {{question_element.timestamp.slice(0,10)}}
            </p>
        </div>

        <div class="line"></div>
    </div>

</div>